

<ul>
	<li>Number of articles: <%= Article.count %> 	</li>
	<li>Number of users <%= User.count %> </li>
	<li>There are <%= Article.two_weeks_count %> articles in the past two weeks.</li>
</ul>
<br/>
