<% title 'Admin' -%>

<h2>Dashboard</h2>

<ul>
	<li>Moderator Queue</li>
	<li>Contributor Application Approvals</li>
	<li>Stats - How many articles were published? How many signups? How many articles are pending moderations?</li>
</ul>
