body{margin:0 auto;padding:0;font-family:"Lucida Grande",verdana,arial,helvetica,sans-serif;color:#222;font-size:14px;background-color:#e5e5e5;min-width:870px;background:#e5e5e5;}

a{text-decoration:none;}
ol,ul,li{margin:0;padding:0}
ul li{list-style-type:none}

h1,h2,h3,h4,h5,h6{font-family:"Lucida Grande",arial,sans-serif;}
h1{padding:0;border-bottom:0;margin:0;color:#333;font-size:18px;font-weight:bold}
h2{margin:0px 0 5px 0;color:#333;font-size:16px;padding:0}
h3{margin:0px 0 0 0;color:#666;font-size:14px;padding:0}


.fleft{float:left;}
.fright{float:right;}

#Header{background-color: #036;}
#Wrapper{padding:12px 23px 0 30px;margin:0 auto}
.container{margin:0 auto 0 auto;text-align:left;min-width:750px}
.ClearAll{padding:0;clear:both;font-size:0}

.content-container{width:77%;background-color:#fff;margin:0 3% 0 0;-moz-box-shadow:3px 3px 4px #bbb;}
.right-container{width:20%;}

.content-wrapper{min-height:650px;}
.right-content-container{min-height:650px;}

.right-content-container h2{padding:2px;background-color:#cccccc;text-align:center;}

.content,.right-content{padding:10px;}

#Header div.navigation a.current{font-weight:bold;text-decoration:none}
#Header div.navigation a.free_pitch{font-size:10px;text-decoration:none!important}
#Header div.navigation a.free_pitch span{font-size:12px;text-decoration:underline}
#Header div.navigation a.free_pitch:hover span{text-decoration:none}
#Header.global div.navigation{font-size:10px;padding:7px 25px 0}
#Header.global div.navigation a{padding:7px 5px}#Tabs{margin:0 57px 0 30px;padding:0;height:24px}
#Tabs ul{margin:0;padding:0}#Tabs li{margin:0;padding:0;display:inline;list-style:none;border:none}

div#Tabs a:link,div#Tabs a:visited{text-decoration:none}#Tabs a:hover{color:#fff;background:#333}
#Tabs ul#MainTabs a:link,#Tabs ul#MainTabs a:visited{float:left;font-size:12px;line-height:12px;font-weight:normal;padding:5px 9px 7px;margin:0 1px}
#Tabs ul#MainTabs a:link.current,#Tabs ul#MainTabs a:visited.current{color:#222;font-weight:bold;text-decoration:none;margin:0 1px;padding-bottom:9px;background:#e5e5e5 url(../images/current-nav-bg.jpg) repeat-x;}

#Header h1 a:link, #Header h1 a:visited {color: #fc0;text-decoration: none;}
#Header h1 a:hover {color: #fc0;background-color: #036;text-decoration: underline;}
#Header h1 span {color: #fff;}
#Header div.navigation{height:50px;}
#Header div.navigation, 
#Header div.navigation a:link, 
#Header div.navigation a:visited {
color: #fff;
}
#Header div.navigation a:hover {color: #fff;background-color: #1D64AD;}
#Header div.navigation a.current:link, 
#Header div.navigation a.current:visited {color: #fc0;}
#Header div.navigation a.current:hover {color: #fc0;background-color: #036;}
#Tabs a:link, #Tabs a:visited {background-color: #1A4F85;color: #fff;}
#Tabs ul#MainTabs a:link.current, #Tabs ul#MainTabs a:visited.current,
.Right #categories a.current:link, .Right #categories a.current:visited {color: #090;}
#Tabs a:hover {color: #fff;background-color: #1D64AD;}

.page_header{height:20px;background-color:#EDF3FE;padding:10px;-moz-box-shadow:3px 3px 4px #bbb;}
.page_header a{font-size:12px;text-decoration:none;}
.page_header_links{float:right;}
.page_header_links a{color:#ff0000;}
