<% content_for :head do %>
	<title>Credit Cards Logic</title>
<% end %>
<h2>I Want to :</h2>

<fieldset>
<ul>
	<li> <a href="categories/credit-card#apply_for_credit_card">Apply for Credit Card</a> </li>
	<li>Build / Rebuild Credit</li>
	<li>Pay off Debt</li>
	<li>File For Bankruptcy</li>
	<li>Deal with Credit Emergency</li>
	<li>Get help to deal with Vehicle Repossession</li>
	<li>Plan for Retirement</li>
	<li>Find best Rewards Cards</li>
	<li>Find best cards for travel</li>
	<li>Get help to pay Medical Bills</li>
	<li>Get help to pay Utility Bills</li>
	<li>Get help to pay for College Education</li>
	<li>Deal with Identity Theft</li>
</ul>
</fieldset>

<%= render :partial => "articles/article", :collection => @articles  %>

