<% content_for :head do %>
	<title>Credit Cards Logic</title>
<% end %>
<h2>I Want to :</h2>

<fieldset>
<ul>
	<li> 
		<a href="categories/credit-card#apply_for_credit_card">Apply for Credit Card</a> 
	</li>
	<li> 
		<a href="related/rebuild+credit">Build / Rebuild Credit</a> 
	</li>
	<li>
			<a href="categories/debt-management">Pay off Debt</a> 
	</li>
	<li> 
		<a href="categories/bankruptcy">File For Bankruptcy</a> 
	</li>
	<li>
		<a href="categories/personal-finance#credit_emergency">Deal with Credit Emergency</a> 
	</li>
	<li>
		 <a href="related/repossession">Get help to deal with Vehicle Repossession</a> 
	</li>
	<li>
		<a href="categories/retirement">Plan for Retirement</a> 
	</li>
	<li>
		<a href="categories/credit-card#rewards_card">Find best Rewards Cards</a> 		
	</li>
	<li>
		<a href="categories/credit-card#best_cards_for_travel">Find best cards for travel</a> 
	</li>
	<li>
		<a href="categories/personal-finance#medical_bills">Get help to pay Medical Bills</a> 
	</li>
	<li>
		<a href="categories/personal-finance#utility_bills">Get help to pay Utility Bills</a> 
	</li>
	<li>
		<a href="categories/student-loans">Get help to pay for College Education</a> 
	</li>
	<li>
			<a href="categories/identity-theft">Deal with Identity Theft</a> 
	</li>
</ul>
</fieldset>
<!-- 

 start a college fund for my kid
 rebuild emergency fund
 be debt-free
 do year-end tax planning
 take advantage of tax breaks for college expenses
 catch up with retirement savings when you get a late start or suffer a setback

 -->

<%= render :partial => "articles/article", :collection => @articles  %>

