<h1>Why write for us?</h1>

<dl>
<dd>* Link to your site on every article your write.</dd>
<dd>* Your bio appears on every article you write.</dd>
<dd>* Highly-Targeted traffic for your site / blog.</dd>
<dd>* Enhanced credibility.</dd>
<dd>* Reach a wider audience and build your personal brand.</dd>
</dl>

<%= link_to 'Sign up', new_user_registration_path %> today to submit articles.