
<h2>I Want to :</h2>

<ul>
	<li>Apply for Credit Card or Loan</li>
	<li>Build / Rebuild Credit</li>
	<li>Pay off Debt</li>
	<li>Learn about Bankruptcy</li>
	<li>Learn about Identity Theft</li>
</ul>

<%= render :partial => "articles/article", :collection => @articles  %>

